body{
	background-color:  #f5f5f5;
}

#header{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	text-align: center;
}

#newToDo{
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 
				0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.listImg{
	height: 300px;
	width: 100%;
	-webkit-object-fit: contain;
	-moz-object-fit: contain;
	-ms-object-fit: contain;
	-o-object-fit: contain;
	object-fit: contain;
	border:none;
}

.finished{
	text-decoration: line-through;
	background-color: red;
}