.navbar{
	border-color: rgba(112, 112, 112, 0.2);
}

/*body{*/
	background: url(http://pre03.deviantart.net/0305/th/pre/f/2011/053/1/7/teddy_roosevelt_vs__bigfoot_by_sharpwriter-d3a72w4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}